<div>
  <!-- header superior -->
  <header style="background-color: #000000; color: black; padding: 20px; text-align: center;">
    <span style="font-size: 24px; vertical-align: middle;color: #f4f4f4;">Collatz's Conjeture</span>
  </header>

  <!-- principal content with the lateral menu y content -->
  <div style="display: flex; height: calc(100vh - 80px);">
    <!-- lateral Menu -->
    <div style="width: 110px; background-color: #f4f4f4; padding: 10px;">
      <ul>
        <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
        <li><a routerLink="/generate" routerLinkActive="active">Generate</a></li>
        <li><a routerLink="/historical" routerLinkActive="active">Historical</a></li>
      </ul>
    </div>

    <!-- principal content -->
    <div style="flex-grow: 1; padding: 20px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
