<div style="display: flex; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
    <input #valueTextbox type="text" [(ngModel)]="value" placeholder="Enter number" style="width: 150px; margin-right: 10px;">
    <div style="display: flex; align-items: center;">
        <input type="button" value="Generate" (click)="generate(value)" class="btn btn-primary" style="margin-right: 10px;">
        <input type="button" value="Clear" (click)="clearChart()" class="btn btn-secondary" style="margin-right: 10px;">
        <input [disabled]="value === ''" type="button" value="Show Secuence" (click)="showPopup(true)" class="btn btn-secondary" style="margin-right: 10px;">
        <span *ngIf="collatzConjecture.numSteps" style="margin-left: 10px;">Steps: {{ collatzConjecture.numSteps }}</span>
    </div>
</div>

<!-- Graphic -->
<div style="width: 1400px; height: 400px; overflow: hidden; position: relative; text-align: left;">
    <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Secuence'"
      [yAxisLabel]="'Value'"
      [animations]="true"
      [autoScale]="true">
    </ngx-charts-line-chart>
</div>

<div *ngIf="!isValid" class="overlay">
    <div class="popup">
        <h1>Value Out of range</h1>
        <label>Must be an integer greater than 0 and less than 3.074.457.345.618.258.602</label>
        <br>
        <button (click)="closePopup()">Close</button>   
    </div>

</div>

<!-- Popup securence -->
<div *ngIf="enabledShowPopup" class="overlay">
    <div class="popup">
        <h6>Collatz Sequence:</h6>
        <div *ngIf="value" style="font-size: small; white-space: nowrap; text-overflow: ellipsis; overflow-x: auto; max-width: 100%; display: flex;">
            <span *ngFor="let number of numbers">
                , {{ number }}
            </span>
        </div>
        <input type="button" value="Close" (click)="showPopup(false)" class="btn btn-secondary" style="margin-top: 10px;">
    </div>
</div>
