<div>
    Let the following operation be applicable to any positive integer:<br><br>

    <li>If the number is even, it is divided by 2.</li>
    <li>If the number is odd, multiply by 3 and add 1.</li><br>
    Formally, this is equivalent to a function <img src="assets/images/image1.svg"  alt="imagen1">
<br><br>
    <img src="assets/images/image2.svg"  alt="imagen2">
    <br><br>
    Now, a sequence is formed by applying this operation repeatedly, starting with any positive integer, and taking the result of each step as the input to the next.
    <br><br>
    The conjecture says that we will always reach 1 regardless of the number we start with.
    <br><br>
    <p>It has been verified that the conjecture is true for all numbers up to <span>2<sup>60</sup></span> (approximately <span>1.15 × 10<sup>18</sup></span>).</p>

</div>
