<div>
    Sea la siguiente operación, aplicable a cualquier número entero positivo:<br><br>

    <li>Si el número es par, se divide entre 2.</li>
    <li>Si el número es impar, se multiplica por 3 y se suma 1.</li><br>
    Formalmente, esto equivale a una función <img src="assets/images/image1.svg"  alt="imagen1">
<br><br>
    <img src="assets/images/image2.svg"  alt="imagen2">
    <br><br>
    Ahora, se forma una sucesión mediante la aplicación de esta operación repetidamente, comenzando por cualquier entero positivo, y tomando el resultado de cada paso como la entrada del siguiente.
    <br><br>
    La conjetura dice que siempre alcanzaremos el 1 independientemente del número con el que comencemos.

</div>
